body {
  margin: 0;
  padding-top: 12vh;
  font-family: 'Harmattan', sans-serif;
  font-size: 1.1rem;
}

.navbar {
  font-family: 'Harmattan', sans-serif;
  background-color: #6db5ca;
  font-size: 1.2rem;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

th {
  font-size: 1.2rem;
}

#logoimg {
  height: 10vh;
}

li {
  display: inline-flex;
  align-content: flex-end;
}