.layout {
	margin: 3vh 1vw 0;
}

.balai {
	margin-bottom: 2vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
	width: 40vw;
	align-items: center;
}

@media (max-width: 900px) {
	.form-group {
		width: 70vw;
	}
}

@media (max-width: 600px) {
	.form-group {
		width: 85vw;
	}
}
.title {
	text-align: center;
	font-weight: bold;
}

label {
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0;
}


.btn {
	margin-top: 0.75rem;
	background-color: rgb(160, 165, 167);
	color: white;
	border-radius: 0.5rem;
	border: 0;
	text-align: center;
	height: 2.5rem;
	width: 8rem;
	padding: 0.25rem;
	cursor: pointer;
	font-family: 'Harmattan', sans-serif;
	font-size: 1.2rem;
}

button:hover {
	background-color: #6DB5CA;
}

a {
	text-decoration: none;
	text-align: left;
	color: #048bb5;
}

a:hover {
	text-decoration: none;
}