.layout {
  margin: 3vh 1vw 0;
}

.apotek {
  margin-bottom: 2vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 40vw;
}

@media (max-width: 900px) {
  .form {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .form {
    width: 85vw;
  }
}

.title {
  text-align: center;
  font-weight: bold;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.error {
  font-family: 'Harmattan', sans-serif;
  font-size: 1.2rem;
  min-height: 2rem;
  color: red;
  margin: 0.7rem 0 0;
}

.btn {
  margin-top: 0.75rem;
  background-color: rgb(160, 165, 167);
  color: white;
  border-radius: 0.5rem;
  border: 0;
  text-align: center;
  height: 2.5rem;
  width: 8rem;
  padding: 0.25rem;
  cursor: pointer;
  font-family: 'Harmattan', sans-serif;
  font-size: 1.2rem;
}

button:hover {
  background-color: #6DB5CA;
}

a {
  text-decoration: none;
  text-align: left;
  color: #048bb5;
}

p {
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
}

input, textarea {
  border: 0.05rem solid #bbbbbb;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  font-family: 'Harmattan', sans-serif;
  font-size: 1.1rem;
  padding: 0.75rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
  letter-spacing: 0.5px;
}

textarea {
  min-height: 6rem;
  max-height: 6rem;
}

select {
  border: 0.05rem solid #bbbbbb;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  font-family: 'Harmattan', sans-serif;
  font-size: 1.1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.75rem;
}
