.layout {
  margin: 3vh 2vw 0;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  text-align: left;
  color: #048bb5;
}

p {
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.short {
  width: 5%;
}

.btn {
  border-radius: 0.3rem;
  border: 0;
  text-decoration: none;
  text-align: center;
  color: #252525;
  padding: 0.2rem;
  cursor: pointer;
  width: 4rem;
  font-family: 'Harmattan', sans-serif;
  font-size: 1.1rem;
}

.create {
  background-color: #6db5ca;
}

.create:hover {
  background-color: #048bb5;
  color: white;
}

.update {
  background-color: #B8D8E0;
}

.update:hover {
  background-color: #6DB5CA;
  color: white;
}

.delete {
  background-color: #ffa27a;
}

.delete:hover {
  background-color: #FF7235;
  color: white;
}

thead {
  text-align: center;
}