.layout {
  font-family: 'Harmattan', sans-serif;
  height: 85vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 20vw;
}

@media (max-width: 1024px) {
  .form {
    width: 40vw;
  }
}

@media (max-width: 600px) {
  .form {
    width: 75vw;
  }
}

.title {
  text-align: center;
  font-weight: bold;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.error {
  font-family: 'Harmattan', sans-serif;
  font-size: 1.2rem;
  min-height: 2rem;
  color: red;
  margin-top: 1rem;
}

.btn {
  margin-top: 1rem;
  background-color: rgb(160, 165, 167);
  color: white;
  border-radius: 0.5rem;
  border: 0;
  text-align: center;
  width: 8rem;
  padding: 0.25rem;
  cursor: pointer;
  font-family: 'Harmattan', sans-serif;
  font-size: 1.2rem;
}

button:hover {
  background-color: #6DB5CA;
}

input {
  border: 0.05rem solid #bbbbbb;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  font-family: 'Harmattan', sans-serif;
  font-size: 1.1rem;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  letter-spacing: 0.5px;
}
