.layout {
	font-family: 'Harmattan', sans-serif;
	height: 90vh;
}

p{
    font-size: x-large;
}

img{
    border-radius: 100%;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	width: 20vw;
}

@media (max-width: 1024px) {
	.form {
		width: 40vw;
	}
}

@media (max-width: 600px) {
	.form {
		width: 75vw;
	}
}


