{% extends 'base.html' %}

{% load static %}
{% block title %} Daftar Apotek {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
<div class="layout">
	{% if 'auth' in request.session %}
	<div class="header">
		<h2>Daftar Apotek</h2>
		{% if 'admin' in request.session.role %}
			<a class="btn create" href="{% url 'apotek:form' %}">Create</a>
		{% endif %}
	</div>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">ID Apotek</th>
				<th scope="col">Nama Apotek</th>
				<th scope="col">Alamat Apotek</th>
				<th scope="col">No Telp Apotek</th>
				<th scope="col">Nama Penyelenggara</th>
				<th scope="col">No SIA Penyelenggara</th>
				<th scope="col">Email Penyelenggara</th>
				{% if 'admin' in request.session.role %}
					<th scope="col">Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for apotek in list_apotek %}
			<tr>
				<td>{{ apotek.id_apotek }}</td>
				<td>{{ apotek.nama_apotek }}</td>
				<td>{{ apotek.alamat_apotek }}</td>
				<td>{{ apotek.telepon_apotek }}</td>
				<td>{{ apotek.nama_penyelenggara }}</td>
				<td>{{ apotek.no_sia }}</td>
				<td>{{ apotek.email }}</td>
				{% if 'admin' in request.session.role %}
					<td>
						<form action="{% url 'apotek:form' %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="id_apotek" value="{{ apotek.id_apotek }}">
							<input type="hidden" name="nama_apotek" value="{{ apotek.nama_apotek }}">
							<input type="hidden" name="alamat_apotek" value="{{ apotek.alamat_apotek }}">
							<input type="hidden" name="telepon_apotek" value="{{ apotek.telepon_apotek }}">
							<input type="hidden" name="nama_penyelenggara" value="{{ apotek.nama_penyelenggara }}">
							<input type="hidden" name="no_sia" value="{{ apotek.no_sia }}">
							<input type="hidden" name="email" value="{{ apotek.email }}">
							<button type="submit" class="btn update" style="margin-bottom: 0.5rem;">Update</button>
						</form>
						<form action="{% url 'apotek:delete' %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="id_apotek" value="{{ apotek.id_apotek }}">
							<button type="submit" class="btn delete">Delete</button>
						</form>
					</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div class="center" style="height: 80vh;">
		<h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu.
		</h1>
	</div>
	{% endif %}
</div>    
{% endblock %}