{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if 'auth' in request.session %} Daftar Balai Pengobatan
{% else %} Farmakami
{% endif %}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
<style type="text/css">
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}  
</style>
{% endblock %}
{% block content %}

<div class="layout">
    {% if 'auth' in request.session %}
    <div class="header">
        <h2> Daftar Balai Pengobatan </h2>
        {% if 'admin' in request.session.role %}
        <div>
            <a class="btn create" href="{% url 'balaipengobatan:tambah_balai' %}" role="button">Create</a>    
        </div>
        {% endif %}
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">ID Balai</th>
                <th scope="col">Alamat Balai</th>
                <th scope="col">Nama Balai</th>
                <th scope="col">Jenis Balai</th>
                <th scope="col">No. Telepon</th>
                <th scope="col">Apotek yang Berasosiasi</th>
                {% if 'admin' in request.session.role %}
                <th scope="col">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for balai in balai_pengobatan %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ balai.id_balai }}</td>
                    <td>{{ balai.alamat_balai }}</td>
                    <td>{{ balai.nama_balai }}</td>
                    <td>{{ balai.jenis_balai }}</td>
                    <td>{{ balai.telepon_balai }}</td>
                    <td>
                        <ul>
                        {% for ap in balai_apotek %}
                        {% if ap.id_balai == balai.id_balai %}
                        <li>{{ ap.id_apotek }} ({{ap.nama_apotek}}) </li>
                        {% endif %}
                        {% endfor %}
                        </ul>
                    </td>
                    {% if 'admin' in request.session.role %}
                    <td>
                        <form action="{% url 'balaipengobatan:update_balai' %}">
                            <input type="hidden" name="id_balai" value="{{ balai.id_balai }}">
                            <button type="submit" class="btn update">Update</button>
                        </form>
                        <form action="{% url 'balaipengobatan:delete_balai' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id_balai" value="{{ balai.id_balai }}">
                            <button type="submit" class="btn delete">Delete</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="center">
        <h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu. </h1>
    </div>
    {% endif %}
</div>
{% endblock %}