{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="K31 Basdat C: Farmakami">
    <meta name="keywords" content="HTML,CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Harmattan&display=swap" rel="stylesheet">
    
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        {% if 'auth' in request.session %}
        <a class="navbar-brand" href="{% url 'profil:profil' %}">
        {% else %}
        <a class="navbar-brand" href="{% url 'authentication:login' %}">
        {% endif %}
            <img src="{% static 'images/Logo.png' %}" alt="Farmakami" id="logoimg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            {% if 'konsumen' in request.session.role or 'kurir' in request.session.role %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profil:profil' %}"> Profil </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Balai Pengobatan dan Apotek </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'balaipengobatan:daftar_balai' %}">Daftar Balai Pengobatan</a>
                        <a class="dropdown-item" href="{% url 'apotek:list'%}">Daftar Apotek</a>
                    </div>
                </li>
                {% if 'konsumen' in request.session.role %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'transaksi_pembelian:list' %}">Daftar Transaksi Pembelian</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'produk_apotek:list' %}"> Daftar Produk Apotek </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_produk_dibeli:list'%}"> Daftar List Produk Dibeli </a>
                </li>
                {% if 'kurir' in request.session.role %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pengantaran_farmasi:list' %}"> Daftar Pengantaran Farmasi </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'obat:list'%}"> Daftar Obat </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authentication:logout' %}"> Logout </a>
                </li>
            {% elif 'admin' in request.session.role or 'cs' in request.session.role %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profil:profil' %}"> Profil </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Balai Pengobatan dan Apotek </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if 'admin' in request.session.role %}
                        <a class="dropdown-item" href="{% url 'balaipengobatan:tambah_balai' %}">Buat Balai Pengobatan</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'balaipengobatan:daftar_balai' %}">Daftar Balai Pengobatan</a>
                        {% if 'admin' in request.session.role %}
                        <a class="dropdown-item" href="{% url 'apotek:form' %}">Buat Apotek</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'apotek:list' %}">Daftar Apotek</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Transaksi Pembelian </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'transaksi_pembelian:form' %}">Buat Transaksi Pembelian</a>
                        <a class="dropdown-item" href="{% url 'transaksi_pembelian:list' %}">Daftar Transaksi Pembelian</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produk Apotek</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if 'admin' in request.session.role %}
                        <a class="dropdown-item" href="{% url 'produk_apotek:form' %}">Buat Produk Apotek</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'produk_apotek:list' %}">Daftar Produk Apotek</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> List Produk Dibeli </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if 'admin' in request.session.role %}
                        <a class="dropdown-item" href="{% url 'list_produk_dibeli:form' %}">Buat List Produk Dibeli </a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'list_produk_dibeli:list' %}">Daftar Produk Dibeli </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pengantaran Farmasi </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if 'admin' in request.session.role %}
                        <a class="dropdown-item" href="{% url 'pengantaran_farmasi:form' %}">Buat Pengantaran Farmasi </a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'pengantaran_farmasi:list' %}">Daftar Pengantaran Farmasi </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Obat </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'obat:tambah_obat' %}">Buat Obat </a>
                        <a class="dropdown-item" href="{% url 'obat:list' %}">Daftar Obat </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authentication:logout' %}"> Logout </a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buat Akun</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'signup:admin' %}">Admin Apotek</a>
                        <a class="dropdown-item" href="{% url 'signup:cs' %}">Customer Service</a>
                        <a class="dropdown-item" href="{% url 'signup:konsumen' %}">Konsumen</a>
                        <a class="dropdown-item" href="{% url 'signup:kurir' %}">Kurir</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authentication:login'%}"> Login </a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav> 
    
	{% block content %}
    {% endblock %}
</body>
</html>
