{% extends 'base.html' %}

{% load static %}
{% block title %} {{ action }} Transaksi Pembelian {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-apotek.css' %}">
{% endblock %}

{% block content %}
<div class="layout center">
	{% if is_admin %}
		<h1>Form {{ action }} Transaksi Pembelian</h1>
		<br>
			{% if action == 'Update' %}
				<form class = "center" action="{% url 'transaksi_pembelian:register' %}" method="POST">
					<input type="hidden" name="action" value="{{ action }}">
					<input type="hidden" name="old_id_konsumen" value="{{ id_konsumen }}">
					<p><b>id Transaksi Pembelian<b></p>
						<input readonly name="old_id_transaksi_pembelian" value="{{ id_transaksi_pembelian }}">
						<p class = "center"><b>Waktu Pembelian<b></p>
						<input readonly name="old_waktu_pembelian" value="{{ waktu_pembelian }}">
						<p class = "center"><b>Total Pembayaran<b></p>
						<input readonly name="old_total_pembayaran" value="{{ total_pembayaran }}">
					{% csrf_token %}
					<div class="form">
						{{ form }}
					</div>
			{% elif action == 'Create'  %}
			<form class = "center" action="{% url 'transaksi_pembelian:register' %}" method="POST">
				<input type="hidden" name="action" value="{{ action }}">
				{% csrf_token %}
				<div class="form">
					{{ form }}
				</div>
			{% endif %}
			<div class="center">
				<button class = "btn" type="submit">Submit</button>
				<p class="error">{{ error }}</p>
			</div>
		</form> 
	{% else %}
		<h1>Maaf, form ini hanya untuk admin.</h1>
		<p>Kembali ke <a href="{% url 'transaksi_pembelian:list' %}">Daftar transaksi Pembelian</a></p>
	{% endif %}
</div>    
{% endblock %}