{% extends 'base.html' %}

{% load static %}
{% block title %} {{ action }} List Produk Dibeli {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-apotek.css' %}">
{% endblock %}

{% block content %}
<div class="layout apotek center">
	{% if 'admin' in request.session.role %}
	<h2>Form {{ action }} List Produk Dibeli</h2>
	<form action="{% url 'list_produk_dibeli:register' %}" method="POST">
		{% csrf_token %}
		{% if action == 'Update' %}
			<label>ID Produk:</label>
			<input type="text" name="id_produk_disabled" value="{{ id_produk }}" disabled>
			<label>ID Apotek:</label>
			<input type="text" name="id_apotek_disabled" value="{{ id_apotek }}" disabled>
			<input type="hidden" name="old_id_transaksi_pembelian" value="{{ id_transaksi_pembelian }}">
		{% endif %}
		<div class="form">
			{{ form }}
		</div>
		<input type="hidden" name="action" value="{{ action }}">

		<div class="center">
			<button type="submit">Submit</button>
			<p class="error">{{ error }}</p>
		</div>
	</form> 
	{% elif 'auth' in request.session %}
		<div class="center" style="height: 80vh;">
			<h1>Maaf, form ini hanya untuk admin.</h1>
			<p>Kembali ke <a href="{% url 'list_produk_dibeli:list' %}">Daftar Produk Dibeli</a></p>
		</div>
	{% else %}
		<div class="center" style="height: 80vh;">
			<h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu.
			</h1>
		</div>
	{% endif %}
</div>    
{% endblock %}