{% extends 'base.html' %}

{% load static %}
{% block title %} {{ action }} Produk Apotek {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-apotek.css' %}">
{% endblock %}

{% block content %}
<div class="layout center">
	{% if 'admin' in request.session.role %}
		<h2>Form {{ action }} Produk Apotek</h2>
		<form action="{% url 'produk_apotek:register' %}" method="POST">
			{% csrf_token %}
			<div class="form">
				{{ form }}
			</div>
			<input type="hidden" name="action" value="{{ action }}">
			<input type="hidden" name="old_id_produk" value="{{ id_produk }}">
			<input type="hidden" name="old_id_apotek" value="{{ id_apotek }}">
			<div class="center">
				<button type="submit" class="btn">Submit</button>
				<p class="error">{{ error }}</p>
			</div>
		</form> 
	{% elif 'auth' in request.session %}
		<div class="center" style="height: 80vh;">
			<h1>Maaf, form ini hanya untuk admin.</h1>
			<p>Kembali ke <a href="{% url 'produk_apotek:list' %}">Daftar Produk Apotek</a></p>
		</div>
	{% else %}
		<div class="center" style="height: 80vh;">
			<h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu.
			</h1>
		</div>
	{% endif %}
</div>    
{% endblock %}