{% extends 'base.html' %}

{% load static %}
{% block title %} {{ action }} Pengantaran Farmasi {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-apotek.css' %}">
{% endblock %}

{% block content %}
<div class="layout apotek center">
	
	{% if 'admin' in request.session.role %}
	<h1>Form {{ action }} Pengantaran Farmasi</h1>
	{% if action == 'Update' %}
	<form action="{% url 'pengantaran_farmasi:register' %}" method="POST">
		{% csrf_token %}
		
		<label>ID Pengantaran:</label>
		<input type="text" name="id_pengantaran_disabled" value="{{ id_pengantaran }}" disabled>
		<label>ID Kurir:</label>
		<input type="text" name="id_kurir_disabled" value="{{ id_kurir }}" disabled>
		<label>ID Transaksi:</label>
		<input type="text" name="id_transaksi_pembelian_disabled" value="{{ id_transaksi_pembelian }}" disabled>
		<div class="form">
			{{ form }}
		</div>
		<label>Total Biaya:</label>
		<input type="text" name="total_biaya_disabled" value="{{ total_biaya }}" disabled>
		<input type="hidden" name="old_id_pengantaran" value="{{ id_pengantaran }}">
		<input type="hidden" name="old_id_kurir" value="{{ id_kurir }}">
		<input type="hidden" name="old_id_transaksi" value="{{ id_transaksi }}">
		<input type="hidden" name="old_total_biaya" value="{{ total_biaya }}">

		<input type="hidden" name="action" value="{{ action }}">

		<div class="center">
			<button type="submit">Submit</button>
			<p class="error">{{ error }}</p>
		</div>
	</form> 
	{% endif %}

	{% if action == 'Create' %}
	<form action="{% url 'pengantaran_farmasi:register' %}" method="POST">
		{% csrf_token %}
		<div class="form">
			{{ form }}
		</div>
		<input type="hidden" name="action" value="{{ action }}">
		<div class="center">
			<button type="submit">Submit</button>
			<p class="error">{{ error }}</p>
		</div>
	</form> 
	{% endif %}

	{% elif 'auth' in request.session %}
		<div class="center" style="height: 80vh;">
		<h1>Maaf, form ini hanya untuk admin.</h1>
		<p>Kembali ke <a href="{% url 'pengantaran_farmasi:list' %}">Daftar Pengantaran Farmasi</a></p>
		</div>
	{% else %}
		<div class="center" style="height: 80vh;">
			<h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu.
			</h1>
		</div>
	{% endif %}
</div>    
{% endblock %}