{% extends 'base.html' %}

{% load static %}
{% block title %} Daftar List Produk Dibeli {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/apotek.css' %}">
{% endblock %}
{% block content %}   

<div class="layout">
	<div class="header">
		<h2>Daftar List Produk Dibeli</h2>
		{% if 'admin' in request.session.role %}
			<a class="btn create" href="{% url 'list_produk_dibeli:form' %}">Create</a>
		{% endif %}
	</div>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">ID Apotek</th>
				<th scope="col">ID Produk</th>
                <th scope="col">ID Transaksi Pembelian</th>
                <th scope="col">Jumlah</th>
				{% if 'admin' in request.session.role %}
				<th scope="col">Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for produk in list_produk_dibeli %}
			<tr>
				<td>{{ produk.id_apotek }}</td>
				<td>{{ produk.id_produk }}</td>
				<td>{{ produk.id_transaksi_pembelian }}</td>
				<td>{{ produk.jumlah }}</td>
				{% if 'admin' in request.session.role %}
				<td>
					<div class="flex">
						<form action="{% url 'list_produk_dibeli:form' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="id_apotek" value="{{ produk.id_apotek }}">
							<input type="hidden" name="id_produk" value="{{ produk.id_produk }}">
							<input type="hidden" name="id_transaksi_pembelian" value="{{ produk.id_transaksi_pembelian }}">
							<input type="hidden" name="jumlah" value="{{ produk.jumlah }}">
							<button type="submit" class="btn btn-info" style="margin-bottom: 0.5rem;">Update</button>
						</form>
						<form action="{% url 'list_produk_dibeli:delete' %}" method="POST">
                    	    {% csrf_token %}
                	        <input type="hidden" name="id_produk" value="{{ produk.id_produk }}">
							<input type="hidden" name="id_apotek" value="{{ produk.id_apotek }}">
							<input type="hidden" name="id_transaksi_pembelian" value="{{ produk.id_transaksi_pembelian }}">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</div>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>    
{% endblock %}