{% extends 'base.html' %}

{% load static %}
{% block title %} Farmakami: Login {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="layout center">
	<h2>Login</h2>
	<form action="{% url 'authentication:login' %}" method="POST">
		{% csrf_token %}
		<div class="form">
			{{ form }}
		</div>
		<div class="center">
			<button type="submit" class="btn">Login</button>
			<p class="error">{{ error }}</p>
		</div>
	</form> 
</div>    
{% endblock %}