{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if 'auth' in request.session %} Daftar Obat
{% else %}
Farmakami
{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
<style type="text/css">
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}  
</style>
{% endblock %}

{% block content %}

<div class="layout">
    {% if 'auth' in request.session %}
    <div class="header">
        <h2>
            Daftar Obat
        </h2>
        {% if 'admin' in request.session.role or 'cs' in request.session.role %}
        <div>
            <a class="btn create" href="{% url 'obat:tambah_obat' %}" role="button">Create</a>
        </div>
        {% endif %}
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">ID Obat</th>
                <th scope="col">ID Produk</th>
                <th scope="col">ID Merk Obat</th>
                <th scope="col">Netto</th>
                <th scope="col">Dosis</th>
                <th scope="col">Aturan Pakai</th>
                <th scope="col">Kontraindikasi</th>
                <th scope="col">Bentuk Kesediaan</th>
                {% if 'admin' in request.session.role or 'cs' in request.session.role %}
                <th scope="col">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for obat in list_obat %}
    			<tr>
                    <td>{{ forloop.counter }}</td>
    				<td>{{ obat.id_obat }}</td>
    				<td>{{ obat.id_produk }}</td>
    				<td>{{ obat.id_merk_obat }}</td>
    				<td>{{ obat.netto }}</td>
    				<td>{{ obat.dosis }}</td>
    				<td>{{ obat.aturan_pakai }}</td>
    				<td>{{ obat.kontraindikasi }}</td>
    				<td>{{ obat.bentuk_kesediaan }}</td>
                    {% if 'admin' in request.session.role or 'cs' in request.session.role %}
    				<td>
                        <form action="{% url 'obat:update_obat' %}">
                            <input type="hidden" name="id_obat" value="{{ obat.id_obat }}">
                            <button type="submit" class="btn update">Update</button>
                        </form>
                        <form action="{% url 'obat:delete_obat' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id_obat" value="{{ obat.id_obat }}">
                            <input type="hidden" name="id_produk" value="{{ obat.id_produk }}">
                            <button type="submit" class="btn delete">Delete</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="center">
        <h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu. </h1>
    </div>
    {% endif %}
</div>
{% endblock %}