{% extends 'base.html' %}

{% load static %}
{% block title %} Pengantaran Farmasi {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/apotek.css' %}">
{% endblock %}

{% block content %}
<div class="layout">
	<div class="header">
		<h2>Daftar Pengantaran Farmasi</h2>
		{% if 'admin' in request.session.role %}
			<a class="btn create" href="{% url 'pengantaran_farmasi:form' %}">Create</a>
		{% endif %}
	</div>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th class="short">ID Pengantaran</th>
				<th class="short">ID Kurir</th>
                <th class="short">ID Transaksi Pembelian</th>
                <th class="short">Waktu</th>
                <th class="short">Status Pengantaran</th>
                <th class="short">Biaya Kirim</th>
				<th class="short">Total Biaya</th>
				{% if 'admin' in request.session.role %}
				<th scope="col">Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for pengantaran in pengantaran_farmasi %}
			<tr>
				<td>{{ pengantaran.id_pengantaran }}</td>
				<td>{{ pengantaran.id_kurir }}</td>
				<td>{{ pengantaran.id_transaksi_pembelian }}</td>
                <td>{{ pengantaran.waktu }}</td>
                <td>{{ pengantaran.status_pengantaran }}</td>
                <td>{{ pengantaran.biaya_kirim }}</td>
				<td>{{ pengantaran.total_biaya }}</td>
				{% if 'admin' in request.session.role %}
				<td><div class="flex">
					<form action="{% url 'pengantaran_farmasi:form' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="id_pengantaran" value="{{ pengantaran.id_pengantaran }}">
						<input type="hidden" name="id_kurir" value="{{ pengantaran.id_kurir }}">
						<input type="hidden" name="id_transaksi_pembelian" value="{{ pengantaran.id_transaksi_pembelian }}">
                        <input type="hidden" name="waktu" value="{{ pengantaran.waktu }}">
                        <input type="hidden" name="status_pengantaran" value="{{ pengantaran.status_pengantaran }}">
                        <input type="hidden" name="biaya_kirim" value="{{ pengantaran.biaya_kirim }}">
						<input type="hidden" name="total_biaya" value="{{ pengantaran.total_biaya }}">
						<input type="hidden" name="id_pengantaran2" value="{{ pengantaran.id_pengantaran }}">
						<input type="hidden" name="id_kurir2" value="{{ pengantaran.id_kurir }}">
						<input type="hidden" name="id_transaksi_pembelian2" value="{{ pengantaran.id_transaksi_pembelian }}">
                        <input type="hidden" name="waktu2" value="{{ pengantaran.waktu }}">
                        <input type="hidden" name="status_pengantaran2" value="{{ pengantaran.status_pengantaran }}">
                        <input type="hidden" name="biaya_kirim2" value="{{ pengantaran.biaya_kirim }}">
                        <input type="hidden" name="total_biaya2" value="{{ pengantaran.total_biaya }}">
						<button type="submit" class="update" style="margin-right: 0.5rem;">Update</button>
					</form>
					<form action="{% url 'pengantaran_farmasi:delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id_pengantaran" value="{{ pengantaran.id_pengantaran }}">
                        <input type="hidden" name="id_kurir" value="{{ pengantaran.id_kurir }}">
                        <input type="hidden" name="id_transaksi_pembelian" value="{{ pengantaran.id_transaksi_pembelian }}">
						<button type="submit" class="delete">Delete</button>
					</form>
				</div></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>    
{% endblock %}