{% extends 'base.html' %}

{% load static %}
{% block title %} Daftar Produk Apotek {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
{% if 'auth' in request.session %}
<div class="layout">
	<div class="header">
		<h2>Daftar Produk Apotek</h2>
		{% if 'admin' in request.session.role %}
			<a class="btn create" href="{% url 'produk_apotek:form' %}">Create</a>
		{% endif %}
	</div>
	<table class="table">
		<thead class="thead-light">
			<tr>
                <th scope="col">ID Produk</th>
				<th scope="col">ID Apotek</th>
				<th scope="col">Harga Jual</th>
                <th scope="col">Satuan Penjualan</th>
				<th scope="col">Stok</th>
				{% if 'admin' in request.session.role %}
					<th scope="col" class="short">Action</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for produk in list_produk_apotek %}
			<tr>
				<td>{{ produk.id_produk }}</td>
				<td>{{ produk.id_apotek }}</td>
				<td>{{ produk.harga_jual }}</td>
				<td>{{ produk.satuan_penjualan }}</td>
				<td>{{ produk.stok }}</td>
				{% if 'admin' in request.session.role %}
					<td><div class="flex">
						<form action="{% url 'produk_apotek:form' %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="id_produk" value="{{ produk.id_produk }}">
							<input type="hidden" name="id_apotek" value="{{ produk.id_apotek }}">
							<input type="hidden" name="harga_jual" value="{{ produk.harga_jual }}">
							<input type="hidden" name="satuan_penjualan" value="{{ produk.satuan_penjualan }}">
							<input type="hidden" name="stok" value="{{ produk.stok }}">
							<button type="submit" class="btn update" style="margin-right: 0.5rem;">Update</button>
						</form>
						<form action="{% url 'produk_apotek:delete' %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="id_produk" value="{{ produk.id_produk }}">
							<input type="hidden" name="id_apotek" value="{{ produk.id_apotek }}">
							<button type="submit" class="btn delete">Delete</button>
						</form>
					</div></td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>    
{% else %}
	<div class="center" style="height: 80vh;">
		<h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu.
		</h1>
	</div>
{% endif %}
{% endblock %}