{% extends 'base.html' %}
{% load static %}

{% block title %} Profil {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profil.css' %}">
{% endblock %}


{% block content %}
<br> <br>  <br>
<div class="layout center">
    <img src="{% static 'images/dummy_profile.jpg' %}" alt="foto profil" width="100">
    <br>
    <p>Nama : {{ data_pengguna.nama_lengkap }}</p>
    <p>Email : {{ data_pengguna.email }}</p>
    <p>Telepon : {{ data_pengguna.telepon }}</p>
    {% if data_pengguna.tipe == 'konsumen' %}
    <p>Role : Konsumen</p>
    <br>
    <p><b>Data Konsumen</b></p>
    <br>
    <p>Id Konsumen : {{ data_pengguna.id_konsumen }}</p>
    <p>Jenis Kelamin : {{ data_pengguna.jenis_kelamin }}</p>
    <p>Tanggal Lahir : {{ data_pengguna.tanggal_lahir }}</p>
    {% elif data_pengguna.tipe == 'kurir'  %}
    <p>Role : Kurir</p>
    <br>
    <p><b>Data Kurir</b></p>
    <br>
    <p>Id Kurir : {{ data_pengguna.id_kurir }}</p>
    <p>Nama Perusahaan : {{ data_pengguna.nama_perusahaan }}</p>
    {% elif data_pengguna.tipe == 'admin'  %}
    <p>Role : Admin Apotek</p>
    <br>
    <p><b>Data Admin Apotek</b></p>
    <br>
    <p>Nomor Apotek : {{ data_pengguna.no_apotek }}</p>
    {% elif data_pengguna.tipe == 'cs' %}
    <p>Role : Customer Service</p>
    <br>
    <p><b>Data Customer Service</b></p>
    <br>
    <p>Nomor KTP : {{ data_pengguna.no_ktp }}</p>
    <p>Nomor SIA : {{ data_pengguna.no_sia }}</p>
    {% endif %}

</div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %} 
            <script>alert("Pendaftaran berhasil. Welcome, {{ message }}!")</script> 
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}