{% extends 'base.html' %}

{% load static %}
{% block title %} Farmakami {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/errorpage.css' %}">
{% endblock %}

{% block content %}
<div class="center">
    <img src="{% static 'images/servererror.png' %}" alt="Masalah teknis" id="background">
</div>    
{% endblock %}