{% extends 'base.html' %}

{% load static %}
{% block title %} Farmakami: Signup {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="layout center">
    <h2>Sign Up</h2>
	{% if 'admin' in request.session.signup %}
		<form action="{% url 'signup:admin' %}" method="POST">
            {% csrf_token %}
            <div class="form">
                {{ form }}
            </div>
    {% elif 'cs' in request.session.signup %}
        <form action="{% url 'signup:cs' %}" method="POST">
            {% csrf_token %}
            <div class="form">
                {{ form }}
            </div>
    {% elif 'konsumen' in request.session.signup %}
        <form action="{% url 'signup:konsumen' %}" method="POST">
            {% csrf_token %}
            <div class="form">
                {{ form }}
                <label>Alamat:</label>
                <div class="input-address">
                    <input type="text" name="status1" class="inline-flex third-width" placeholder="aktif">
                    <input type="text" name="alamat1" class="inline-flex" placeholder="Jl. Basdat C">
                </div>
            </div>
            <div id="add_image">
                <img src="{% static 'images/add_alamat.png' %}" alt="add" id="addimg">....
            </div>
    {% elif 'kurir' in request.session.signup %}
		<form action="{% url 'signup:kurir' %}" method="POST">
            {% csrf_token %}
            <div class="form">
                {{ form }}
            </div>
    {% endif %}
            <div class="center">
                <button type="submit" class="btn">Register</button>
                <p class="error">{{ error }}</p>
            </div>
        </form> 
</div>

<script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
{% endblock %}