{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if 'admin' in request.session.role %} Buat Balai Pengobatan
{% else %} Farmakami
{% endif %}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-balaipengobatan.css' %}">
<style type="text/css">
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}  
</style>
{% endblock %}

{% block content %}
    <div class="layout">
        {% if 'admin' in request.session.role %}
        <div class="balai">
        <h2 align="center">
            Form Create Balai Pengobatan
        </h2>
        </div>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="validationDefault01"> Alamat Balai:</label>
                    <input type="text" class="form-control" id="validationDefault01" name="alamat" placeholder="1234 Bangkok Street" required>
                </div>
                <div class="form-group">
                    <label for="validationDefault02"> Nama Balai:</label>
                    <input type="text" class="form-control" id="validationDefault02" name="nama" placeholder="Bangkok Clinic" required>
                </div>
                <div class="form-group">
                    <label for="validationDefault03"> Jenis Balai:</label>
                    <input type="text" class="form-control" id="validationDefault03" name="jenis" placeholder="Umum" required>
                </div>
                <div class="form-group">
                    <label for="validationDefault04"> Telepon Balai:</label>
                    <input type="text" class="form-control" id="validationDefault04" name="telepon" placeholder="1234567890" required>
                </div>
                <div class="form-group" id="asosiasi_apotek">
                    <label for="asosiasi_apotek"> Apotek yang Berasosiasi: </label>
                    {% for data in list_apotek_asosiasi %}
                    <div class="input-group" id="asosiasi_apotek">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type='hidden' value='off' id="{{data.id_apotek}}" name="cb{{forloop.counter0}}">
                                <input type="checkbox" aria-label="Checkbox for following text input" id="{{data.id_apotek}}" name="cb{{forloop.counter0}}">
                            </div>
                        </div>
                        <input for="{{data.id_apotek}}" type="text" class="form-control" aria-label="Text input with checkbox" value="{{data.id_apotek}} ({{data.nama_apotek}})" name="id{{forloop.counter0}}" readonly>
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'balaipengobatan:daftar_balai' %}" class="btn btn-warning "> Back </a>
            </form>
        </div>
        {% elif 'auth' in request.session %}
        <div class="balai center">
            <h2> Halaman ini hanya untuk admin. </h2>
            <a href="{% url 'balaipengobatan:daftar_balai' %}" class="btn btn-warning"> Back </a>
        </div>
        {% else %}
        <div class="balai center">
            <h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu.
            </h1>
        </div>
        {% endif %}
    </div>
    {% if is_error %}
    <script type="text/javascript">
        alert("Alamat sudah dipakai.");
    </script>
    {% endif %}
{% endblock %}