{% extends 'base.html' %}
{% load static %}
{% block title %}
{% if 'admin' in request.session.role %} Buat Obat 
{% else %} Farmakami
{% endif %}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-obat.css' %}">
<style type="text/css">
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}  
</style>
{% endblock %}

{% block content %}
    <div class="layout">
        {% if 'admin' in request.session.role %}
        <div class="obat">
            <h2 class="title">
                Form Create Obat
            </h2>            
        </div>
        <div class="form">
            <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="validationDefault01"> ID Merk Obat: </label>
                <select class="form-control" id="validationDefault01" name="id_merk_obat" value="None" required>
                    <option selected disabled> -- Pilih Merk Obat -- </option>>
                    {% for data in list_merk_obat %}
                    <option> {{ data.id_merk_obat}} ({{ data.nama_dagang }})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="validationDefault02"> Netto: </label>
                <input type="text" class="form-control" id="validationDefault02" name="netto" placeholder="10 g (gram)" required>
            </div>
            <div class="form-group">
                <label for="validationDefault03"> Dosis: </label>
                <input type="text" class="form-control" id="validationDefault03" name="dosis" placeholder="2 kapsul, 1 kali sehari" required>
            </div>
            <div class="form-group">
                <label for="validationDefault04"> Aturan Pakai: </label>
                <input type="text" class="form-control" id="validationDefault04" name="aturan" placeholder="(Kosongkan bila tidak ada)">
            </div>
            <div class="form-group">
                <label for="validationDefault05"> Kontraindikasi: </label>
                <input type="text" class="form-control" id="validationDefault05" name="kontra" placeholder="(Kosongkan bila tidak ada)">
            </div>
            <div class="form-group">
                <label for="validationDefault06"> Bentuk Kesediaan: </label>
                <input type="text" class="form-control" id="validationDefault06" name="bentuk" placeholder="Kapsul" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'obat:list' %}" class="btn btn-warning"> Back </a>
            </form>
        </div>
        {% elif 'auth' in request.session %}
        <div class="obat center">
            <h2> Halaman ini hanya untuk admin. </h2>
            <a href="{% url 'obat:list' %}" class="btn btn-warning"> Back </a>
        </div>
        {% else %}
        <div class="obat center">
            <h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu.
            </h1>
        </div>
        {% endif %}
        {% if is_error %}
        <script type="text/javascript">
            alert("Merk Obat Harus Dipilih.");
        </script>
        {% endif %}
    </div>

{% endblock %}