{% extends 'base.html' %}

{% load static %}
{% block title %} Transaksi Pembelian {% endblock %}
{% block css %}
{% endblock %}

{% block content %}

<div class = "header">
<div class = "layout"> 
	{% if is_admin %}
	<br><br>
	<h2>Transaksi Pembelian</h2>

	<form action="{% url 'transaksi_pembelian:form' %}" method="GET">
		<button type="submit" class="btn btn-primary" style="margin-bottom: 0.5rem;">Create</button>
	</form>

	<table class = "table">
		<thead class ="thead-light">
			<tr>
				<th scope="col">ID Transaksi</th>
				<th scope="col">Waktu pembelian</th>
                <th scope="col">ID Konsumen </th>
                <th scope="col">Total Pembayaran</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>

			{% for produk in transaksi_pembelian %}
			<tr>
				<td>{{ produk.id_transaksi_pembelian }}</td>
				<td>{{ produk.waktu_pembelian}}</td>
				<td>{{ produk.id_konsumen }}</td>
				<td>{{ produk.total_pembayaran }}</td>
				<td><div class="flex">
					<form action="{% url 'transaksi_pembelian:form' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="id_transaksi_pembelian" value="{{ produk.id_transaksi_pembelian }}">
						<input type="hidden" name="waktu_pembelian" value="{{ produk.waktu_pembelian }}">
						<input type="hidden" name="total_pembayaran" value="{{ produk.total_pembayaran }}">
						<input type="hidden" name="id_konsumen" value="{{ produk.id_konsumen }}">
						<button type="submit" class="btn btn-info" style="margin-right: 0.5rem;">Update</button>
					</form>
					<form action="{% url 'transaksi_pembelian:delete' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id_transaksi_pembelian" value="{{ produk.id_transaksi_pembelian }}">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
			{% if kosong == True %}
			<h2>Tampaknya masih kosong</h2>
			{% endif %}
	{% else %}
	<br><br>
	<h2>Transaksi Pembelian</h2>
	<table class = "table">
		<thead class ="thead-light">
			<tr>
				<th scope="col">ID Transaksi</th>
				<th scope="col">Waktu pembelian</th>
                <th scope="col">ID Konsumen </th>
                <th scope="col">Total Pembayaran</th>
			</tr>
		</thead>
		<tbody>
			{% for produk in transaksi_pembelian %}
			<tr>
				<td>{{ produk.id_transaksi_pembelian }}</td>
				<td>{{ produk.waktu_pembelian}}</td>
				<td>{{ produk.id_konsumen }}</td>
				<td>{{ produk.total_pembayaran }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
			{% if kosong == True %}
			<h2>Tampaknya masih kosong</h2>
			{% endif %}
	{% endif %}
</div>
</div>
{% endblock %}