{% extends 'base.html' %}
{% load static %}
{% block title %} 
{% if 'admin' in request.session.role %} Update Obat 
{% else %} Farmakami
{% endif %}
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form-obat.css' %}">
<style type="text/css">
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}  
</style>
{% endblock %}

{% block content %}
    <div class="layout">
        {% if 'admin' in request.session.role %}
        <div class="obat">
            {% if is_failed %}
            <div class="center">
                <h2> Oops! Terjadi kesalahan dalam proses Update Obat. </h2>
                <a href="{% url 'obat:list' %}" class="btn btn-warning"> Back </a>
            </div>
            {% else %}
            <h2 class="title">
                Form Update Obat
            </h2>
            {% endif %}
        </div>
        <div class="form">
            {% for obat in list_update%}
            <form method="POST">
                {% csrf_token %}
            <div class="form-group">
                <label for="formGroupExampleInput"> ID Obat:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="id_obat" value="{{ obat.id_obat }}" readonly>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2"> ID Produk:</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" name="id_produk" value="{{ obat.id_produk }}" readonly>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">ID Merk Obat:</label>
                <select class="form-control" id="exampleFormControlSelect1" name="id_merk_obat" value="{{ obat.id_merk_obat }}" required>
                    {% for merk in list_merk_obat %}
                    {% if merk.id_merk_obat == obat.id_merk_obat %}
                    <option selected>{{ merk.id_merk_obat }} ({{merk.nama_dagang}})</option>
                    {% else %}
                    <option>{{ merk.id_merk_obat }} ({{ merk.nama_dagang }})</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput3"> Netto:</label>
                <input type="text" class="form-control" id="formGroupExampleInput3" name="netto" value="{{ obat.netto }}" required>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput4"> Dosis:</label>
                <input type="text" class="form-control" id="formGroupExampleInput4" name="dosis" value="{{ obat.dosis }}" required>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput5"> Aturan Pakai:</label>
                <input type="text" class="form-control" id="formGroupExampleInput5" name="aturan" value="{{ obat.aturan_pakai }}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput6"> Kontraindikasi:</label>
                <input type="text" class="form-control" id="formGroupExampleInput6" name="kontra" value="{{ obat.kontraindikasi }}">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput7"> Bentuk Kesediaan:</label>
                <input type="text" class="form-control" id="formGroupExampleInput7" name="bentuk" value="{{ obat.bentuk_kesediaan }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'balaipengobatan:daftar_balai' %}" class="btn btn-warning"> Back </a>
        </form>
    </div>
    {% endfor %}
    {% elif 'auth' in request.session %}
        <div class="obat center">
            <h2> Halaman ini hanya untuk admin. </h2>
            <a href="{% url 'obat:list' %}" class="btn btn-warning"> Back </a>
        </div>
        {% else %}
        <div class="obat center">
            <h1>Maaf, anda harus <a href="{% url 'authentication:login' %}">login</a> terlebih dahulu.
            </h1>
        </div>
        {% endif %}
    </div>
{% endblock %}